from pangea.apps.ingress.app import Ingress

class {{ instance_class_name }}(Ingress):
    def deploy(self) -> None:
        super().deploy()

    def delete(self) -> None:
        super().delete()


App = {{ instance_class_name }}
