#!/usr/bin/env python3

from pangea import cluster
from {{ cluster_name }}.env_comm import {{ cluster_class_name }}EnvComm


class {{ cluster_class_name }}(cluster.Cluster):
    class Meta:
        name = "{{ cluster_name }}"

    def __init__(self, env: {{ cluster_class_name }}EnvComm):
        super().__init__(env)
        self.env = env


Cluster = {{ cluster_class_name }}

if __name__ == "__main__":
    {{ cluster_class_name }}.handle_command()
