from pangea.apps.registry.app import Registry

class {{ instance_class_name }}(Registry):
    def deploy(self) -> None:
        super().deploy()

    def delete(self) -> None:
        super().delete()


App = {{ instance_class_name }}
